body{
            background-color:#EAF6F6 ; 
            
}
a:hover{
    background-color: aquamarine;
    
}
a{
    text-decoration: none;
}
h1,h3,h4{
    color:#66BFBF;
}

hr{
            border-style: none;
            border-top-style: dotted;
            border-color:grey;
            border-width: 5px;
            width:20%;
            
           
}